body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue);
  font-family: "Manrope", sans-serif;
  color: var(--white);
}

main {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  outline: none;
}
